<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <script src="../../js/vue.js"></script>
    </head>
    <body style="padding-left:300px;">
      <div id="app1">
        <span v-if='ok'>span ok=true</span>
        <span v-else>span ok=false</span>


        <div v-if="type === 'A'">
          A
        </div>
        <div v-else-if="type === 'B'">
          B
        </div>
        <div v-else-if="type === 'C'">
          C
        </div>
        <div v-else>
          Not A/B/C
        </div>


        <!-- 未用key。复用元素。用key管理可复用的元素 -->
        <div v-if="loginType === 'username'">
          <label>Username</label>
          <input placeholder="Enter your username" />
        </div>
        <div v-else>
          <label>Email</label>
          <input placeholder="Enter email address" />
        </div>
        <button @click='changeLoginType'>
          Toggle login type
        </button>

      <!-- 用key。不服用添加了key的元素。复用元素。用key管理可复用的元素 -->
        <div v-if="loginTypeKey === 'username'">
          <label>Username</label>
          <input placeholder="Enter your username" key='username-input'/>
        </div>
        <div v-else>
          <label>Email</label>
          <input placeholder="Enter email address" key='email-input'/>
        </div>
        <button @click='changeLoginTypeKey'>
          Toggle login type and key
        </button>

        <!-- v-show -->
            <!-- 带有 v-show 的元素始终会被渲染并保留在 DOM 中。v-show 是简单地切换元素的 CSS 属性 display.
            注意， v-show 不支持 语法，也不支持 v-else。 -->
        <div v-show='isShow'>
          show
        </div>


      </div>


      <script>
        var vm1 = new Vue({
          el:'#app1',
          data:{
            ok:false,
            type:'B',
            loginType:'username',
            loginTypeKey:'username',
            isShow:true
          },
          methods:{
            changeLoginType:function () {
                return this.loginType = this.loginType === 'username' ? 'email' : 'username'
            },
            changeLoginTypeKey:function(){
                return this.loginTypeKey = this.loginTypeKey === 'username' ? 'email' : 'username'
            }
          }
        })


      </script>

    </body>
</html>